<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${path}/head`); %>
</head>
<body>
    <%- navBar %>

    <div class="container" style="margin-top: 90px;">  
        <div class="row">
            <div class="col-12">
                <h3>게시판 글 목록</h3>
                <hr>
            </div>
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table table-condensed table-hover">
                    <tr class="table-secondary d-flex">
                        <td class="col-1" style="text-align: center;"><strong>번호</strong></td>
                        <td class="col-6" style="text-align: center;"><strong>제목</strong></td>
                        <td class="col-2" style="text-align: center;"><strong>글쓴이</strong></td>
                        <td class="col-2" style="text-align: center;"><strong>날짜/시간</strong></td>
                        <td class="col-1" style="text-align: center;"><strong>조회수</strong></td>
                    </tr>
                    <%- trs %>
                </table>
                <ul class="pagination justify-content-center">
                    <%- pages %>
                </ul>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    
    <%- include(`${path}/footer`); %>
</body>
</html>    