<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include(`${path}/head`); %>
</head>
<body>
    <%- navBar %>

    <div class="container" style="margin-top: 90px;">  
        <div class="row">
            <div class="col-12">
                <h3>사용자 목록</h3>
                <hr>
            </div>
            <div class="col-1"></div>
            <div class="col-10">
                <table class="table table-condensed table-hover">
                    <tr class="table-secondary">
                        <td style="text-align: center;"><strong>아이디</strong></td>
                        <td style="text-align: center;"><strong>이름</strong></td>
                        <td style="text-align: center;"><strong>썸네일</strong></td>
                        <td style="text-align: center;"><strong>연락처</strong></td>
                        <td style="text-align: center;"><strong>이메일</strong></td>
                        <td style="text-align: center;"><strong>등록일</strong></td>
                        <td style="text-align: center;"><strong>액션</strong></td>
                    </tr>
                    <!-- <tr class="table-secondary d-flex">
                        <td class="col-2" style="text-align: center;"><strong>아이디</strong></td>
                        <td class="col-2" style="text-align: center;"><strong>이름</strong></td>
                        <td class="col-2" style="text-align: center;"><strong>연락처</strong></td>
                        <td class="col-3" style="text-align: center;"><strong>이메일</strong></td>
                        <td class="col-2" style="text-align: center;"><strong>등록일</strong></td>
                        <td class="col-1" style="text-align: center;"><strong>액션</strong></td>
                    </tr> -->
                    <%- trs %>
                </table>
                <ul class="pagination justify-content-center">
                    <%- pages %>
                </ul>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <%- include(`${path}/footer`); %>
</body>
</html>